@charset "utf-8";

#video {

    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Subnoticia1 #contenido{

  background-color:#f8dbb6;
	width: auto;
    height: auto;
	display: inline-block;
}



#titulosdesubpaginas1{

    color: #b13520;
    font-family: "Playwrite HU",  cursive;
	font-size: 20px;
	float: left;
    text-align: left;
	padding: 15px 195px;

}

#titulosdesubpaginas2{

    color: #25848e;
    font-family: "Playwrite HU",  cursive;
	font-size: 60px;
	float: left;
    text-align: left;
	padding: 15px 195px;

}

#contenido img {
    width: 600 PX;
    height: 353 PX;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contenido p{
    text-align: justify;
    padding: 15px 35px;
}

